<div class="body-container">
  <div class="inner-content">

    <div class="box-description mb-3">
      <p>
        <strong>[{ 'NOTE' | translate }] :</strong> [{ 'CATEGORY_ITEM_STATIC_TEXT' | translate }]
      </p>
    </div>


    <div class="eq-box  mb-3">
      <div class="eq-box-header">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <h3 class="title-1">[{ 'CATEGORY_ITEM_TEXT' | translate }]</h3>
          </div>
          <div class="col">
            <div class="row justify-content-end">
              <!-- temporarily this filter is hidden -->
              <!-- <div class="col-auto">
                <md-input-container class="md-block no-margin">
                  <md-select ng-model="ctgICtrl.selectedJobCategory" md-selected-text="ctgICtrl.getSelectedText()" ng-change="ctgICtrl.filterChanged()" aria-label="filteritem" class="md-block">
                    <md-option ng-repeat="item in ctgICtrl.jobCategoryList" ng-value="item">[{item.name}]</md-option>
                  </md-select>
                </md-input-container>
              </div> -->
              <div class="col-auto">
                <md-input-container md-no-float class="md-block custom-md-input no-margin" ng-keypress="($event.charCode==13)? ctgICtrl.searchTermChanged('getCategoryItemList') : return">
                  <md-icon class="material-icons">search</md-icon>
                  <input ng-model="ctgICtrl.searchTerm" placeholder="[{ 'SEARCH_TEXT' | translate }]">
                </md-input-container>
              </div>
              <div class="col-auto">
                <!-- <md-button class="icon-btn"><i class="material-icons">add</i> User</md-button> -->
                <md-button class="eq-md-button-primary mr-0" ng-disabled="ctgICtrl.loader" ng-click="ctgICtrl.addCategoryItem($event)">[{ 'ADD_TEXT' | translate }]</md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-wrap">
        <custom-loader ng-show="ctgICtrl.loader"></custom-loader>
        <div class="data-table-custom table-responsive">
          <table class="table table-sm table-sm-custom">
            <thead>
              <tr>
                <th width="70" class="text-center">#</th>
                <th>[{ 'NAME_TEXT' | translate }]</th>
                <th>Category</th>
                <!-- <th class="text-center">Status</th> -->
                <th class="text-center">[{ 'EMPLOYEE_COUNT_TEXT' | translate }]</th>
                <th class="text-center">[{ 'VACANCY_COUNT_TEXT' | translate }]</th>
                <th class="text-center" width="150">[{ 'ACTION_TEXT' | translate }]</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in ctgICtrl.categoryItemList track by $index">
                <td class="text-center">[{ ( ( $index + 1 ) + ( ( ctgICtrl.selectedPage - 1 ) * ctgICtrl.selectedPageSize ) ) }]</td>
                <td>[{item.name}]</td>
                <td ng-cloak="">[{ ctgICtrl.getCategoryNameByUuid(item.job_category_uuid) }]</td>
                <!-- <td class="text-center"><label for="" class="status-icon" ng-class="item.statusColor"></label></td> -->
                <td class="text-center">[{item.employee_usage_count}]</td>
                <td class="text-center">[{item.vacancy_usage_count}]</td>
                <td class="text-center md-button-sm-wrap">
                  <md-button class="md-icon-button" aria-label="Edit" ng-click="ctgICtrl.updateCategoryItem($event, item, $index)">
                    <md-tooltip md-direction="bottom">Edit</md-tooltip>
                    <i class="material-icons">edit</i>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Delete" ng-click="ctgICtrl.showConfirm($event, item, $index)">
                    <md-tooltip md-direction="bottom">Remove</md-tooltip>
                    <i class="material-icons">close</i>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="eq-pagination">
          <div class="row align-items-center justify-content-end">

            <div class="col-auto">
              [{ 'ROWS_PER_PAGE_TEXT' | translate }]:
            </div>
            <div class="col-auto">
              <md-input-container class="md-block no-margin">
                <md-select ng-model="ctgICtrl.selectedPageSize" md-selected-text="ctgICtrl.getSelectedPageSize()" ng-change="ctgICtrl.paginationChanged('getCategoryItemList')" aria-label="page_row" class="md-block text-center">
                  <md-option ng-repeat="item in ctgICtrl.pageSize" ng-value="item">[{item}]</md-option>
                </md-select>
              </md-input-container>
            </div>

            <div class="col-auto">
              [{ 'PAGE_TEXT' | translate }]:
            </div>
            <div class="col-auto">
              <md-input-container class="md-block no-margin">
                <md-select ng-model="ctgICtrl.selectedPage" md-selected-text="ctgICtrl.getSelectedPage()" ng-change="ctgICtrl.paginationChanged('getCategoryItemList')" aria-label="page" class="md-block text-center">
                  <md-option ng-repeat="item in ctgICtrl.pageList" ng-value="item">[{item}]</md-option>
                </md-select>
              </md-input-container>
            </div>

            <div class="col-auto">
              <div class="text-center">
                <md-button class="md-icon-button" ng-disabled="ctgICtrl.selectedPage<=1" ng-click="ctgICtrl.prevPage('getCategoryItemList')" aria-label="More">
                  <i class="material-icons">keyboard_arrow_left</i>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="ctgICtrl.selectedPage>=ctgICtrl.pageList.length" ng-click="ctgICtrl.nextPage('getCategoryItemList')" aria-label="More">
                  <i class="material-icons">keyboard_arrow_right</i>
                </md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>