<header>
  <div class="main-header-section">
    <div class="container container-full">
      <div class="row justify-content-between align-items-center">
        <div class="col logo">
          <a href=""><img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="EnergieQ-wrapper inner-wrapper">
  <div class="container-full">

    <section class="title-action-bar title-action-back">
      <div class="row">
        <div class="col">
          <h2 class="inc-back">Forgot password </h2>
        </div>
      </div>
    </section>
    <section class="form-row" ng-show="!fpassword.showForm">
        <div class="row block-width">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-7">
           <div class="alert alert-success custom-success-alert-static" role="success">
              <i class="fa fa-check"></i>  A confirmation email has been sent to your email address.
            </div>
          </div>
        </div>
    </section>

    <form ng-show="fpassword.showForm">
      <section class="form-row form-row-login">

        <div class="row block-width">
          <div class="col-md-5 offset-md-3">
            <p class="inline-link-indisc">Enter your email address below. We will then send an email with password reset instructions.</p>
          </div>
        </div>

        <div class="row block-width" ng-show="fpassword.errorMessage">
          <div class="col-md-7 offset-md-3">
            <div class="alert alert-danger custom-danger-alert" role="alert">
              <i class="fa fa-exclamation circle-excl"></i> [{fpassword.errorMessage}]
            </div>
          </div>
        </div>

        <div class="row block-width" ng-if="fpassword.successMessage">
          <div class="col-md-7 offset-md-3">
            <div class="alert alert-success custom-danger-alert" role="alert">
              <i class="fa fa-exclamation circle-excl"></i> [{fpassword.successMessage}]
            </div>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-3">
            <label for="emailaddress" class="field-caption block-width right-align">Email:</label>
          </div>
          <div class="col-md-7">
            <input type="email" ng-change="fpassword.removeMessage()" ng-model="fpassword.userCredentials.email" class="form-control custom-sm-filed">
            <p ng-show="fpassword.errorMessage" class="error-message">[{fpassword.errors.email}]</p>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-7 offset-md-3">
            <div class="row">
              <div class="col-sm-6 offset-sm-6 right-align">
                <p class="margin-bottom-25 inline-link-indisc"><a class="theme-link" ui-sref="login">Back to login page</a></p>
              </div>
            </div>
          </div>
        </div>

      </section>


      <section class="auth-form-action-button margin-bottom-25">
        <div class="row">
          <div class="col-md-2 form-action-auth offset-md-3">
            <button class="btn btn-theme-blue-md btn-block" type="submit" ng-click="fpassword.resetPassword()">Send</button>
          </div>
        </div>
      </section>
    </form>

  </div>
</div>