<md-dialog aria-label="Add User" ng-controller="UserProfilesController as epCtrl">
  <form ng-cloak>
    <md-toolbar class="eq-md-primary-toolbar">
      <div class="md-toolbar-tools">
        <h2 ng-show="isUpdate">[{ 'UPDATE_USER_TEXT' | translate }]</h2>
        <h2 ng-show="!isUpdate">[{ 'ADD_USER_TEXT' | translate }]</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="epCtrl.cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="eq-modal-sm">
          <div class="generic-error-messae row align-items-center" ng-show="addUserErrorMessage">
            <i class="material-icons">error </i> [{addUserErrorMessage}]
          </div>

          <div class="row">
            <div class="col-md-6" ng-show="!isUpdate">
              <md-input-container class="md-block">
                <label for="">[{ 'USER_GROUP_TYPE_TEXT' | translate }] <span class="required-sign">*</span></label>
                <md-select ng-cloak="" ng-model="mdDialogData.user_group_type" ng-change="bindGroupType(mdDialogData.user_group_type)" aria-label="type" class="md-block">
                  <md-option ng-cloak="" ng-repeat="item in typesArray" ng-value="item.value">[{item.name}]</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="col-md-6 mb-3" ng-show="isUpdate"><strong> [{ 'USER_GROUP_TYPE_TEXT' | translate }] : </strong>[{ mdDialogData.user_group_type }]</div>

            <div class="col-md-6">
              <md-input-container class="md-block custom-md-input">
                <input type="text" ng-model="mdDialogData.first_name" placeholder="[{ 'FIRST_NAME_TEXT' | translate }] *">
                <div class="md-errors-spacer" ng-show="addUserErrorMessage">[{errors.first_name}]</div>
              </md-input-container>
            </div>

            <div class="col-md-6">
              <md-input-container class="md-block custom-md-input">
                <input type="text" ng-model="mdDialogData.last_name" placeholder="[{ 'LAST_NAME_TEXT' | translate }] *">
                <div class="md-errors-spacer" ng-show="addUserErrorMessage">[{errors.last_name}]</div>
              </md-input-container>
            </div>

            <div class="col-md-6" ng-show="!isUpdate">
              <md-input-container class="md-block custom-md-input">
                <input type="email" ng-model="mdDialogData.email" placeholder="[{ 'EMAIL_ADDRESS_TEXT' | translate }] *" autocomplete="new-password">
                <div class="md-errors-spacer" ng-show="addUserErrorMessage">[{errors.email}]</div>
              </md-input-container>
            </div>
            <div class="col-md-6 mb-3" ng-show="isUpdate"><strong> [{ 'EMAIL_ADDRESS_TEXT' | translate }] : </strong>[{ mdDialogData.email }]</div>

            <div class="col-md-6" ng-show="!isUpdate">
              <md-input-container class="md-block custom-md-input">
                <input type="password" ng-model="mdDialogData.password" placeholder="[{ 'PASSWORD_TEXT' | translate }] *" autocomplete="new-password">
                <div class="md-errors-spacer" ng-show="addUserErrorMessage">[{errors.password}]</div>
              </md-input-container>
            </div>

            <div class="col-md-6">
              <md-input-container class="md-block custom-md-input">
                <input type="tel" ng-model="mdDialogData.phone_number" placeholder="[{ 'PHONE_NUMBER_TEXT' | translate }]" autocomplete="new-password">
                <div class="md-errors-spacer" ng-show="addUserErrorMessage">[{errors.phone_number}]</div>
              </md-input-container>
            </div>


            <div class="col-md-6 mb-3" ng-show="!isDashBoardUser && !isUpdate">
              <md-input-container class="md-block custom-md-input">
                <label for="">[{ 'COMPANY_TEXT' | translate }] <span class="required-sign" ng-show="isEmployeeUser || isCompanyUser">*</span></label>
                <md-select ng-model="mdDialogData.company_uuid" aria-label="type" class="md-block">
                  <md-option ng-repeat="item in companyList" ng-value="item.uuid">[{item.name}]</md-option>
                </md-select>
                <div class="md-errors-spacer" ng-show="addUserErrorMessage">[{company_uuid_error}]</div>
              </md-input-container>
            </div>
            <div class="col-md-6 mb-3" ng-show="isUpdate && !isDashBoardUser"><strong> [{ 'COMPANY_TEXT' | translate }] : </strong>[{ getCompanyNameByUuid(mdDialogData.company_uuid) }]</div>

            <div class="col-md-6 mb-3" ng-show="isEmployeeUser && !isUpdate">
              <md-input-container class="md-block custom-md-input">
                <label for="">[{ 'LOGIN_CODE_TYPE' | translate }] <span class="required-sign" ng-show="isEmployeeUser">*</span></label>
                <md-select ng-model="mdDialogData.login_code_type" aria-label="type" class="md-block">
                  <md-option ng-repeat="item in types" ng-value="item.value">[{item.name}]</md-option>
                </md-select>
                <div class="md-errors-spacer" ng-show="addUserErrorMessage">[{login_code_type_error}]</div>
              </md-input-container>
            </div>
            <div class="col-md-6 mb-3" ng-show="isUpdate && isEmployeeUser"><strong> [{ 'LOGIN_CODE_TYPE' | translate }] : </strong>[{ getLoginCodeTypeNameByValue(mdDialogData.login_code_type) }]</div>

          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="" ng-click="epCtrl.cancel()" target="_blank" md-autofocus>
        [{ 'CANCEL_TEXT' | translate }]
      </md-button>
      <span flex></span>
      <md-button ng-click="addNewUser(mdDialogData)" class="eq-btn-secondary" ng-show="!isUpdate">
        [{ 'ADD_TEXT' | translate }]
      </md-button>
      <md-button ng-click="updateUser(mdDialogData)" class="eq-md-button-primary" ng-show="isUpdate">
        [{ 'UPDATE_TEXT' | translate }]
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
