<div class="website-wrapper">
    <header class="main-header-section-home">
        <div class="main-header-section">
          <div class="container container-full">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto logo">
                <a href="/">
                  <img src="../../../../assets/img/logo.png" alt="EnergieQ">
                  <label class="logo-text-part">is onderdeel van EnergieQ Groep B.V.</label>
                  <!-- <span>Energie<i>Q</i></span> -->
                </a>
              </div>
       
              <div class="col top-web-nav-wrap hide-on-767">
                <ul class="top-web-nav">
                  <li><a ui-sref="home" ui-sref-active="active">home</a></li>
                  <li><a ui-sref="about-us" ui-sref-active="active">over ons</a></li> 
                  <li><a ui-sref="privacy-statement" ui-sref-active="active">privacy reglement</a></li>
                  <li><a ui-sref="references" ui-sref-active="active">referenties</a></li>
                  <li><a ui-sref="blog" ui-sref-active="active">blog</a></li>
                  <li><a ui-sref="question-and-answer" ui-sref-active="active">veelgestelde vragen</a></li>
                  <li><a ui-sref="contact-us" ui-sref-active="active">contact</a></li>
                </ul>
              </div>
      
              <div class="col-auto nav-right text-right login-btn-set"> 
                <div layout="row" layout-align="end center"> 
                <!-- <md-menu md-position-mode="target-right target" class="mr-2 language-btn">
                  <div layout="row" layout-align="center center" class="user-setting-toggle">
                    <md-button aria-label="Open demo menu" class="md-icon-button md-primary eq-btn-light" ng-click="$mdMenu.open($event)">
                      <span>EN</span>
                    </md-button>
                  </div>
                  <md-menu-content>
                    <md-menu-item>
                      <md-button ng-click="nav.announceClick($index)">
                        <div layout="row" flex>
                          <p flex>EN</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>
                        <div layout="row" flex>
                          <p flex>NL</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu> -->
                <md-button class="eq-btn-secondary auto-width md-button hide-on-767" ui-sref="login">inloggen</md-button> 
                <!-- <md-button class="eq-btn-secondary auto-width md-button hide-on-767" ui-sref="login">Login Candidate</md-button>  -->
                
                <md-menu class="show-on-767" md-position-mode="target-right target">
                  <div layout="row" layout-align="center center" class="user-setting-toggle">
                      
                    <md-button ng-click="$mdMenu.open($event)" aria-label="Open demo menu" class="md-icon-button md-primary eq-btn-dark" >
                      <i class="material-icons">menu</i>
                    </md-button>
      
                  </div>
                  <md-menu-content width="3">    
    
                    <md-menu-item>
                      <md-button ui-sref="home">
                        <div layout="row" flex>
                          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                          <p flex>home</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ui-sref="about-us">
                        <div layout="row" flex>
                          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                          <p flex>over ons</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ui-sref="privacy-statemen">
                        <div layout="row" flex>
                          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                          <p flex>privacy reglement</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ui-sref="references">
                        <div layout="row" flex>
                          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                          <p flex>referenties</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ui-sref="blog">
                        <div layout="row" flex>
                          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                          <p flex>blog</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ui-sref="question-and-answer">
                        <div layout="row" flex>
                          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                          <p flex>veelgestelde vragen</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ui-sref="contact-us">
                        <div layout="row" flex>
                          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                          <p flex>contact</p>
                        </div>
                      </md-button>
                    </md-menu-item>
                    
                    <mat-list class="auth-menulist">
                      <md-menu-item>
                        <md-button ui-sref="login" color="primary">
                          <div layout="row" flex>
                            <md-icon class="material-icons">power_settings_new</md-icon>
                            <p flex>INLOGGEN</p>
                          </div>
                        </md-button>
                      </md-menu-item>
                      <mat-divider></mat-divider>
                    </mat-list>
                    
                  </md-menu-content>
                </md-menu>
              </div>
              </div>
            </div>
          </div>
        </div>
      </header>

<section class="page-title-banner-section">
  <div class="trans-bg">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 offset-lg-2 text-center large-typo title-bannner"> 
            <h3 class="page-title">contact</h3>
          </div>
        </div>
      </div>
  </div>
</section>  

<section class="padding-50-0">
    <div class="container">
      <div class="box-content-contact">
      <div class="row align-items-center">
        <div class="col-md-5">
           <div class="contact-address">
             <h3 class="heading-3">EnergieQ Groep, matchteam Vindm.nu</h3>
             <p class="paragraph-3">
                <span class="block-width"> Prins Willem-Alexanderlaan 170</span>
                <span class="block-width mb-3"> 7311 SZ Apeldoorn</span> 

                <span class="block-width mb-3"> "Navigatieadres Brinklaan 414"</span> 
                <span class="block-width mb-3"> <i class="fa fa-envelope-o inline-link"></i>  <a href="mailto:info@energieq.nl" class="inline-link-blue">info@energieq.nl</a></span> 

                <span class="block-width mb-3"> <i class="fa fa-phone inline-link"></i> 055 - 52 61 999</span> 
                 <span class="block-width"> Of stuur je vraag via ons contactformulier. Wij nemen dan zo snel mogelijk contact met u op. </span>
             </p>
           </div>
        </div>
         <div class="col-md-7">
          <div class="contact-form">
              <h3 class="heading-3">[{ 'SUBMIT_YOUR_QUERY_TEXT' | translate }]</h3>
               <!--<p class="paragraph-3 mb-5">We will back to you soon.</p>-->
              <div class="generic-error-messae row align-items-center mb-5" ng-show="cuCtrl.addContactErrorMessage">
                <i class="material-icons">error </i> [{cuCtrl.addContactErrorMessage}]
              </div>
              <div class="form-wrap">
                <div class="field-row">
                  <md-input-container class="md-block custom-md-input">
                    <input type="text" placeholder="[{ 'NAME_TEXT' | translate }]" ng-model="cuCtrl.contactData.name">
                    <div class="md-errors-spacer" ng-show="cuCtrl.addContactErrorMessage">[{cuCtrl.errors.name}]</div>
                  </md-input-container>
                </div>
                <div class="field-row">
                  <md-input-container class="md-block custom-md-input">
                    <input type="text" placeholder="[{ 'TELEPHONE_TEXT' | translate }]" ng-model="cuCtrl.contactData.phone">
                    <div class="md-errors-spacer" ng-show="cuCtrl.addContactErrorMessage">[{cuCtrl.errors.phone}]</div>
                  </md-input-container>
                </div>
                <div class="field-row">
                  <md-input-container class="md-block custom-md-input">
                    <input type="text" placeholder="[{ 'EMAIL_STATIC_TEXT' | translate }]" ng-model="cuCtrl.contactData.email">
                    <div class="md-errors-spacer" ng-show="cuCtrl.addContactErrorMessage">[{cuCtrl.errors.email}]</div>
                  </md-input-container>
                </div>
                <div class="field-row">
                  <md-input-container class="md-block custom-md-input">
                    <label>[{ 'MESSAGE_STATIC_TEXT' | translate }]</label>
                    <textarea rows="5" md-select-on-focus ng-model="cuCtrl.contactData.message"></textarea>
                    <div class="md-errors-spacer" ng-show="cuCtrl.addContactErrorMessage">[{cuCtrl.errors.message}]</div>
                  </md-input-container>
                </div>

                <div class="button-block text-right">
                    <md-button class="eq-btn-secondary md-button" ng-click="cuCtrl.sendContactData()">Submit</md-button>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  

</div>