

$primary-color: #006CC2;
$primary-dark-color: #006CC2;
$secondary-color: #FF8400;

$secondary-light-color: #DFDFDF;


$primary-text-color: #173247;
$secondary-text-color: #FF8400;
$fe-blue: #59a9d5;


// theme green color: #006CC2
// theme orange color: #FF8400