<md-dialog aria-label="To-Do" ng-controller="TrainingScanController as tsCtrl">
    <form ng-cloak>
        <md-toolbar class="eq-md-primary-toolbar">
            <div class="md-toolbar-tools">
                <h2>Training Scan</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="tsCtrl.cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="eq-modal-min-width">
                    <div class="row"> 

                        <div class="col mb-4">
                            <md-input-container class="md-block custom-md-input">
                                <input type="text" placeholder="Scan Url">
                            </md-input-container>
                        </div>  

                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="" ng-click="tsCtrl.cancel()" target="_blank" md-autofocus>
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="tsCtrl.addTrainingInlist()" class="eq-md-button-primary">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>