<header>
  <div class="main-header-section">
    <div class="container container-full">
      <div class="row justify-content-between align-items-center">
        <div class="col logo">
          <a href=""><img src="assets/img/logo.png" alt=""></a>
        </div>

        <div class="user-setting col">
          <ul class="user-action-nav">
            <li class="user-in-out"><a href="javascript:void(0)" class="fa fa-power-off"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="EnergieQ-wrapper inner-wrapper">
  <div class="container-full">

    <section class="title-action-bar title-action-back">
      <div class="row">
        <div class="col">
          <h2 class="inc-back">Password Reset Code</h2>
        </div>
      </div>
    </section>

    <form>
      <section class="form-row form-row-login">

        <div class="row block-width">
          <div class="col-md-5 offset-md-3">
            <p class="inline-link-indisc">Enter your password reset code below. We will redirect you to password confirmation page.</p>
          </div>
        </div>

        <div class="row block-width" ng-show="passwordRC.errorMessage">
          <div class="col-md-7 offset-md-3">
            <div class="alert alert-danger custom-danger-alert" role="alert">
              <i class="fa fa-exclamation circle-excl"></i> [{passwordRC.errorMessage}]
            </div>
          </div>
        </div>

        <div class="row block-width" ng-if="passwordRC.successMessage">
          <div class="col-md-7 offset-md-3">
            <div class="alert alert-success custom-danger-alert" role="alert">
              <i class="fa fa-exclamation circle-excl"></i> [{passwordRC.successMessage}]
            </div>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-3">
            <label for="emailaddress" class="field-caption block-width right-align">Password Reset Code:</label>
          </div>
          <div class="col-md-7">
            <input type="text" ng-change="passwordRC.removeMessage()" ng-model="passwordRC.passwordResetCode" class="form-control custom-sm-filed">
          </div>
        </div>
      </section>


      <section class="auth-form-action-button margin-bottom-25">
        <div class="row">
          <div class="col-md-2 form-action-auth offset-md-3">
            <button class="btn btn-theme-blue-md btn-block" type="submit" ng-click="passwordRC.resetPasswordCode()">Next</button>
          </div>
        </div>
      </section>
    </form>

  </div>
</div>