<header>
  <div class="main-header-section">
    <div class="container container-full">
      <div class="row justify-content-between align-items-center">
        <div class="col logo">
          <a href="[{ resPass.coreFactory.systemSettings.ROOT_URL }]"><img src="[{ resPass.coreFactory.systemSettings.STATIC_URL }]assets/img/logo.png" alt=""></a>
        </div>
        <div class="user-setting col">
          <!-- <ul class="user-action-nav">
            <li class="user-in-out"><a href="javascript:void(0)" class="fa fa-power-off"></a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</header>
<div class="EnergieQ-wrapper inner-wrapper">
  <div class="container-full">
    <section class="title-action-bar title-action-back">
      <div class="row">
        <div class="col" ng-if="resPass.userData.is_valid">
          <h2 class="inc-back">Set Your Password </h2>
        </div>
      </div>
    </section>
    <form>
      <section class="form-row form-row-login" ng-if="resPass.message">
        <div class="row block-width">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-7">
            <div class="alert alert-success" role="alert">
              <i class="fa fa-exclamation circle-excl"></i> [{resPass.message}]
            </div>
          </div>
        </div>
      </section>
      <section class="form-row form-row-login" ng-if="resPass.userData.is_valid">
        <div class="row block-width" ng-show="resPass.errorMessage">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-7">
            <div class="alert alert-danger custom-danger-alert" role="alert">
              <i class="fa fa-check"></i> [{resPass.errorMessage}]
            </div>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-3">
            <label for="code" class="field-caption block-width right-align">Code:</label>
          </div>
          <div class="col-md-7">
            <input type="search" ng-model="resPass.userCredentials.code" class="form-control custom-sm-filed">
            <p ng-show="resPass.errorMessage" class="error-message">[{resPass.errors.password}]</p>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-3">
            <label for="emailaddress" class="field-caption block-width right-align">Password:</label>
          </div>
          <div class="col-md-7">
            <input type="search" ng-change="resPass.removeError();resPass.passwordMatch(resPass.userCredentials.password,resPass.userCredentials.confirm_password);" ng-model="resPass.userCredentials.password" class="form-control custom-sm-filed">
            <p ng-show="resPass.errorMessage" class="error-message">[{resPass.errors.password}]</p>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-3">
            <label for="password" class="field-caption block-width right-align">Confirm Password:</label>
          </div>
          <div class="col-md-7">
            <input type="search" ng-change="resPass.removeError();resPass.passwordMatch(resPass.userCredentials.password,resPass.userCredentials.confirm_password);" ng-model="resPass.userCredentials.confirm_password" class="form-control custom-sm-filed">
            <p ng-show="resPass.errorMessage" class="error-message">[{resPass.errors.password}]</p>
            <p ng-if="!resPass.passMatch && resPass.userCredentials.password" class="error-message">Passwords don't match</p>
          </div>
        </div>
      </section>

      <section class="form-row form-row-login" ng-show="resPass.showInvalidLinkMsg">
        <div class="row block-width">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-7">
            <div class="alert alert-danger custom-danger-alert" role="alert">
              <i class="fa fa-exclamation circle-excl"></i> We're sorry, this link has been expired.
            </div>
          </div>
        </div>
      </section>

      <section class="auth-form-action-button margin-bottom-25" ng-if="resPass.userData.is_valid">
        <div class="row">
          <div class="col-md-2 form-action-auth offset-md-3">
            <button type="submit" class="btn btn-theme-blue-md btn-block" ng-disabled="!resPass.passMatch" ng-click="resPass.submit()">Submit
            </button>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>

