
@import '../../../assets/scss/partial/variable';
@import '../../../assets/scss/partial/mixin';

.status-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0;
    @include border-radius(100%);
    &.green{
        background: green;
    }
    &.orange{
        background: orange;
    }
    &.red{
        background: red;
    }
}
.table {
    tr {
        td {
            vertical-align: middle;
        }
    }
}
.selected-file {
    p {
        margin: 0;
        font-size: 14px;
    }
}
.eq-border-btn {
    border: 1px solid #ddd!important;
    padding: 0 20px!important;
}
.vacancy-image {
    img {
        max-height: 150px;
    }
}