<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en" ng-app="blocktechApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blocktech</title>
  <!--<link rel="stylesheet" href="./dist/assets/css/main.css">-->
</head>

<body ng-controller="mainController">
    <h1> ::Blocktech-1336:: </h1>
  <ui-view></ui-view>

<div>Account: <input id="accAdd"></input></div>
<div>Balance: <input id="balance"></input></div>
</body>
