
// @import '~scss/main.scss';

@import '../../../assets/scss/partial/variable';
@import '../../../assets/scss/partial/mixin';

.inline-link-blue {
    color: $fe-blue;
    text-decoration: underline;
    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}
.list-item {
    margin-bottom: 20px;
    padding-left: 15px;
    li {
        position: relative;
        padding-left: 15px;
        font-size: 14px;
        line-height: 28px;
        &:before {
            @include border-radius(100%);
            content: '';
            position: absolute;
            left: 5px;
            top: 9px;
            width: 5px;
            height: 5px;
            background: #000000;
        }
    }
}