<header>
  <div class="main-header-section">
    <div class="container container-full">
      <div class="row justify-content-between align-items-center">
        <div class="col logo">
          <a href=""><img src="assets/img/logo.png" alt=""></a>
        </div>
        <div class="user-setting col">
          <!-- <ul class="user-action-nav">
            <li class="user-in-out"><a href="javascript:void(0)" class="fa fa-power-off"></a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</header>
<div class="EnergieQ-wrapper inner-wrapper">
  <div class="container-full">
    <section class="title-action-bar title-action-back">
      <div class="row">
        <div class="col">
          <h2 class="inc-back">Set your new password </h2>
        </div>
      </div>
    </section>
    <form>
      <section class="form-row form-row-login">
        <div class="row block-width" ng-show="prcon.errorMessage">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-7">
            <div class="alert alert-danger custom-danger-alert" role="alert">
              <i class="fa fa-exclamation circle-excl"></i> [{prcon.errorMessage}]
            </div>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-3">
            <label for="emailaddress" class="field-caption block-width right-align">New password:</label>
          </div>
          <div class="col-md-7">
            <input type="password" ng-change="prcon.removeError()" ng-model="prcon.userCredentials.password" class="form-control custom-sm-filed">
            <p ng-show="prcon.errorMessage" class="error-message">[{prcon.errors.password}]</p>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-3">
            <label for="password" class="field-caption block-width right-align">Password:</label>
          </div>
          <div class="col-md-7">
            <input type="password" ng-change="prcon.removeError()" ng-model="prcon.userCredentials.confirm_password" class="form-control custom-sm-filed">
            <p ng-show="prcon.errorMessage" class="error-message">[{prcon.errors.password}]</p>
          </div>
        </div>

        <div class="row align-items-center input-group input-group-sm mb-3 input-group-custom">
          <div class="col-md-7 offset-md-3">
            <p class="margin-bottom-25 inline-link-indisc right-align"><a class="theme-link" ui-sref="login">Back to login</a></p>
          </div>
        </div>

      </section>

      <section class="auth-form-action-button margin-bottom-25">
        <div class="row">
          <div class="col-md-2 form-action-auth offset-md-3">
            <button type="submit" class="btn btn-theme-blue-md btn-block" ng-click="prcon.submit()">Submit
            </button>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>


<!-- 
<div class="auth-box">
  <div class="padding-25">
    <form>
      <div class="auth-content">
        <h1>Reset wachtwoord</h1>
      </div>
      
      <div class="form-field margin-bottom-10">
        <label class="field-caption">New Password</label>
        <div class="form-field-wrap">
          <input type="password" ng-change="prcon.removeError()" ng-model="prcon.userCredentials.password" class="form-controll custom-field block-width">
          <p ng-show="prcon.errorMessage" class="error-message">[{prcon.errors.password}]</p>
        </div>
      </div>
      <div class="form-field margin-bottom-10">
        <label class="field-caption">Confirm password</label>
        <div class="form-field-wrap">
          <input type="password" ng-change="prcon.removeError()" ng-model="prcon.userCredentials.confirm_password" class="form-controll custom-field block-width">
          <p ng-show="prcon.errorMessage" class="error-message">[{prcon.errors.password}]</p>
        </div>
      </div>
      <p class="margin-bottom-10"><a class="blue-link" ui-sref="login">Back to login
        page</a></p>
      <div class="login-button-section">
        <button type="submit" class="button-default button-mid block-width" ng-click="prcon.submit()">Submit
        </button>
      </div>
    </form>
  </div>
</div> -->